[submodule "axl"]
	path = axl
	url = http://github.com/vovkos/axl
	pushurl = git@github.com:vovkos/axl.git
[submodule "ecckey"]
	path = ecckey
	url = http://github.com/vovkos/ecckey
	pushurl = git@github.com:vovkos/ecckey.git
